@charset "UTF-8";

/*
    purple: rgb(82,51,111);
    blue: rgb(61,62,127);
    orange: rgb(205,97,0);
    lightPurple: rgb(124,108,148);
*/

body{
    padding: 0 0 15px 0;
    /*background-color: #f8f8f8;*/
    background-color: white;
}

#navBorder{
    height: 10px;
    background-color: rgba(82,51,111,.85);
    margin-bottom: 15px;
}

#pubLayer{
    padding-top: 150px;
    padding-bottom: 20px;
    margin: auto;
    box-shadow: 1px 1px 2px 0px rgb(170,170,170);
    background: url('../img/test_habillage.jpg') no-repeat;
    background-position: center top;
    /*background-color: #f8f8f8;*/
}
.shadowForContainer{
    /*box-shadow: 1px 1px 2px 2px rgba(0,0,0,.2);*/
}

#main{
    overflow: hidden;
    background-color: white;
    max-width: 970px;
}

#nav2{
    position: relative;
    top: 1px;
}

.slot{
    display: inline-block;
    width: 100px;
    padding: 20px;
    padding-top: 80px;
}

.box{
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f8f8f8;
    border: 1px solid rgba(0,0,0,.065);
    border-bottom: 1px solid #cad1d7;
    border-radius: 0 0 3px 3px;
}
.smallbox{
    height: 200px;
}
.bigbox{
    height: 430px;
}
.revueBox{
    height: auto;
}.revueBox img{
    max-width: 100%;
}

#pubRow{
    border-left: 1px dashed;
    border-color: rgba(124,108,148,.7);
}

.layer-img{
	position: relative;
    overflow: hidden;
}
.smallbox .layer-img{
	height: 130px;
}.bigbox .layer-img{
	height: 360px;
}
.arrow{
	position: absolute;
	bottom: 0;
	left: 25px;
}
.illustration{
    position: relative;
    height: 100%;
    transition: all .4 s ease-in-out;
    /*transform: scale(1);*/
}
.layer-img:hover img{
    transform: scale(1.3);
    /*transition: all .3s ease-in-out;*/
}
.item-caption{
    height: 70px;
    padding: 15px;
}
.item-caption h3{
    font-family: 'Slabo 27px', serif;
    margin: 0;
    font-size: 16px;
    color: rgb(124,108,148);
}.item-caption h4{
    font-family: 'Slabo 27px', serif;
    margin: 0;
    font-size: 14px;
    color: rgba(124,108,148,.7);
}