@charset "UTF-8";

/*
    purple: rgb(82,51,111);
*/

body{
    padding: 0 0 15px 0;
    background-color: #e9eaed;
}
img{
    max-width: 100%;
}

#masterNav{
    width: 100%;
    height: 140px;
    background-color: black;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
#masterNav img{
    height: 100px;
    margin-top: 20px;
}
#topNav{
    height: 30px;
    background-color: rgba(82,51,111,.9);
    margin-bottom: 15px;
}

#navbar{
    height: 120px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #cad1d7;
    background-color: rgb(249,249,249);
    color: rgb(40,50,108);
}
#navbar img{
    height: 120px;
    border-radius: 0 3px 3px 0;
}
#menu{
    float: right;
}
.slot{
    display: inline-block;
    width: 100px;
    padding: 20px;
    padding-top: 80px;
}

.box{
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    border-bottom: 1px solid #cad1d7;
    color: rgb(82,51,111);
    border-radius: 0 0 3px 3px;
}
.smallbox{
    height: 200px;
}
.bigbox{
    height: 430px;
}
.blackbox{
    background-color: rgb(8,11,15);
    color: white;
}

#pubRow{
    border-left: 1px dotted;
    border-color: #cad1d7;
}

.layer-img{
    overflow: hidden;
}.layer-img img{
    position: relative;
    min-width: 100%;
    min-height: 100%;
    transition: all .5s ease-in-out;
    transform: scale(1);
}
.layer-img:hover img{
    transform: scale(1.1);
}
.item-caption{
    height: 80px;
    padding: 15px;
}
.item-caption h3, .item-caption h4{
    margin: 0;
    font-size: 14px;
}



