@charset "UTF-8";

/*
    purple: rgb(82,51,111);
    blue: rgb(61,62,127);
    orange: rgb(205,97,0);
*/

body{
    padding: 0 0 15px 0;
    background-color: #f8f8f8;
}

#pubLayer{
    padding-top: 150px;
    padding-bottom: 20px;
    margin: auto;
    box-shadow: 1px 1px 2px 0px rgb(170,170,170);
    background: url('../img/test_habillage.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#pubLayer .container{
    max-width: 970px;
}
.shadowForContainer{
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}


#masterNav{
    width: 100%;
    background-color: black;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
#masterNav img{
    height: 70px;
    margin-top: 20px;
}
#navbar img{
    height: 100px;
    border-radius: 0 3px 3px 0;
}
#navBorder{
    height: 15px;
    background-color: rgb(93,71,125);
    margin-bottom: 15px;
}
#menu{
    float: right;
}
.slot{
    display: inline-block;
    width: 100px;
    padding: 20px;
    padding-top: 80px;
}

.box{
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #cad1d7;
    color: rgb(82,51,111);
    border-radius: 0 0 3px 3px;
}
.smallbox{
    height: 200px;
}
.bigbox{
    height: 430px;
}

#pubRow{
    border-left: 1px dotted;
    border-color: #cad1d7;
}

.layer-img{
	position: relative;
    overflow: hidden;
}
.smallbox .layer-img{
	height: 130px;
}.bigbox .layer-img{
	height: 360px;
}
.arrow{
	position: absolute;
	bottom: 0;
	left: 25px;
}
.illustration{
    position: relative;
    height: 100%;
    transition: all .2s ease-in-out;
    transform: scale(1);
}
.layer-img:hover img{
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}
.item-caption{
    height: 70px;
    padding: 15px;
}
.item-caption h3{
    font-family: 'Slabo 27px', serif;
    margin: 0;
    font-size: 16px;
}.item-caption h4{
    font-family: 'Slabo 27px', serif;
    margin: 0;
    font-size: 14px;
    color: #C0C0C0;
}

















.thumbnail{
	padding: 10px;
}.thumbnail a>img{
	height: 100%;
}

